<div class="email-login">
    <form method="POST" action="http://localhost:8000/admin/login">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <br>
    <button type="submit">LogIn</button>
  </form>
</div>


