<section id="blog">
  <div class="blog__bg">
    <div class="blog__title">
      <h2>BLOG & NEWS</h2>
    </div>
    <div class="three-items">
      <div class="blog__section">
        <div class="blog__first">
          <div class="blog__first__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
          <div class="blog__first__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
          <div class="blog__first__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
        </div>
        <div class="blog__second">
          <div class="blog__second__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
          <div class="blog__second__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
          <div class="blog__second__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
        </div>
        <div class="blog__third">
          <div class="blog__third__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
          <div class="blog__third__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
          <div class="blog__third__items">
            <img src="" alt="">
            <small>Category Name  |  Date</small>
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia in deserunt mollit anim id est sint laborum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="blog__btn">
      <a href="#"><button>VIEW MORE</button></a>
    </div>
  </div>
</section>