<section id="blog">
  <div class="blog__bg">
    <div class="blog__title">
      <h2>BLOG & NEWS</h2>
    </div>
    <div class="three-items">
      <div class="blog__section">
        <div class="blog__first">
          <div class="blog__first__items">
            <img src="/images/blog/blog1.jpg" alt="Blog Image">
            <small>Blog  |  MARCH 15, 2023</small>
            <h2>Exploring LGBTQ-friendly travel destinations</h2>
            <p>Travel can be a powerful tool for wellness and mental health. Sometimes a break away from the day-to-day grind is exactly what your mind and body need.</p>
          </div>
          <div class="blog__first__items">
            <img src="/images/blog/blog9.jpg" alt="Blog Image">
            <small>Blog  |  FEBRARY 10, 2023</small>
            <h2>LGBT Life Center Begins New Partnership</h2>
            <p>The new clinical partnership with Dr. Jimmy Cooper, DHA, FNP-C, and TMM Medical Group, will add LGBTQ+ affirming primary care, as well as STI and HIV treatment options at TMM Medical Group.</p>
          </div>
          <div class="blog__first__items">
            <img src="/images/blog/blog2.jpg" alt="Blog Image">
            <small>Community  |  OCTOBER 14, 2022</small>
            <h2>Welcome Some New-ish Faces at the LGBT Life Center</h2>
            <p>We are excited to welcome many new faces to the LGBT Life Center! This week, we're excited to introduce Leah, Tyler, and Jennifer!</p>
          </div>
        </div>
        <div class="blog__second">
          <div class="blog__second__items">
            <img src="/images/blog/blog3.jpg" alt="Blog Image">
            <small>Blog  |  SEPTEMBER 19, 2022</small>
            <h2>Coming Out to Your Family in a Safe Manner</h2>
            <p>Even if you know your family will be supportive, coming out is rarely easy. However, it becomes much harder when you come from a strict.</p>
          </div>
          <div class="blog__second__items">
            <img src="/images/blog/blog4.jpg" alt="Blog Image">
            <small>Community  |  SEPTEMBER 21, 2022</small>
            <h2>Welcome New Faces at the LGBT Life Center</h2>
            <p>We are excited to welcome many new faces to the LGBT Life Center! Over the next few weeks. This week, we're excited to introduce Sid, Li, and Kelsey! </p>
          </div>
          <div class="blog__second__items">
            <img src="/images/blog/blog5.jpg" alt="Blog Image">
            <small>Blog  |  OCTOBER 29, 2022</small>
            <h2>Finding Trans+ Friendly Healthcare Post</h2>
            <p>Ever since the Supreme Court of the United States overturned Roe v. Wade, many sectors of healthcare have been negatively affected. The implications of the decision.</p>
          </div>
        </div>
        <div class="blog__third">
          <div class="blog__third__items">
            <img src="/images/blog/blog6.jpg" alt="Blog Image">
            <small>Blog  |  JANUARY 7, 2023</small>
            <h2>What Supporting Black LGBTQ Young People Really Looks Like</h2>
            <p>Being Black is hard. Due to the unique historical and current systems of oppression we face.</p>
          </div>
          <div class="blog__third__items">
            <img src="/images/blog/blog7.jpg" alt="Blog Image">
            <small>Blog  |  FEBRARY 20, 2023</small>
            <h2>Celebrating Aromantic Awareness Week</h2>
            <p>Aromantic Spectrum Awareness week is a great opportunity for all of us (aromantic or otherwise) to learn more about aromanticism.</p>
          </div>
          <div class="blog__third__items">
            <img src="/images/blog/blog8.jpg" alt="Blog Image">
            <small>Community  |  SEPTEMBER 1, 2022</small>
            <h2>Welcome New Faces at the LGBT Life Center</h2>
            <p>We are excited to welcome many new faces to the LGBT Life Center! Over the next few weeks. This week, we're excited to introduce Sid, Li, and Kelsey! </p>
          </div>
        </div>
      </div>
      <div class="blog__section__tablet">
        <div class="blog__first__tablet">
          <div class="blog__first__tablet__items">
            <img src="/images/blog/blog1.jpg" alt="Blog Image">
            <small>Blog  |  MARCH 15, 2023</small>
            <h2>Exploring LGBTQ-friendly travel destinations</h2>
            <p>Travel can be a powerful tool for wellness and mental health. Sometimes a break away from the day-to-day grind is exactly what your mind and body need.</p>
          </div>
          <div class="blog__first__tablet__items">
            <img src="/images/blog/blog2.jpg" alt="Blog Image">
            <small>Community  |  OCTOBER 14, 2022</small>
            <h2>Welcome Some New-ish Faces at the LGBT Life Center</h2>
            <p>We are excited to welcome many new faces to the LGBT Life Center! This week, we're excited to introduce Leah, Tyler, and Jennifer!</p>
          </div>
          <div class="blog__first__tablet__items">
            <img src="/images/blog/blog3.jpg" alt="Blog Image">
            <small>Community  |  SEPTEMBER 1, 2022</small>
            <h2>Welcome New Faces at the LGBT Life Center</h2>
            <p>We are excited to welcome many new faces to the LGBT Life Center! Over the next few weeks. This week, we're excited to introduce Sid, Li, and Kelsey! </p>
          </div>
          <div class="blog__first__tablet__items">
            <img src="/images/blog/blog4.jpg" alt="Blog Image">
            <small>Blog  |  MARCH 15, 2023</small>
            <h2>Exploring LGBTQ-friendly travel destinations</h2>
            <p>Travel can be a powerful tool for wellness and mental health. Sometimes a break away from the day-to-day grind is exactly what your mind and body need.</p>
          </div>
        </div>
        <div class="blog__second__tablet">
          <div class="blog__second__tablet__items">
            <img src="/images/blog/blog5.jpg" alt="Blog Image">
            <small>Blog  |  OCTOBER 29, 2022</small>
            <h2>Finding Trans+ Friendly Healthcare Post</h2>
            <p>Ever since the Supreme Court of the United States overturned Roe v. Wade, many sectors of healthcare have been negatively affected. The implications of the decision.</p>
          </div>
          <div class="blog__second__tablet__items">
            <img src="/images/blog/blog6.jpg" alt="Blog Image">
            <small>Blog  |  SEPTEMBER 19, 2022</small>
            <h2>Coming Out to Your Family in a Safe Manner</h2>
            <p>Even if you know your family will be supportive, coming out is rarely easy. However, it becomes much harder when you come from a strict.</p>
          </div>
          <div class="blog__second__tablet__items">
            <img src="/images/blog/blog7.jpg" alt="Blog Image">
            <small>Community  |  SEPTEMBER 21, 2022</small>
            <h2>Welcome New Faces at the LGBT Life Center</h2>
            <p>We are excited to welcome many new faces to the LGBT Life Center! Over the next few weeks. This week, we're excited to introduce Sid, Li, and Kelsey! </p>
          </div>
          <div class="blog__second__tablet__items">
            <img src="/images/blog/blog8.jpg" alt="Blog Image">
            <small>Blog  |  FEBRARY 10, 2023</small>
            <h2>LGBT Life Center Begins New Partnership</h2>
            <p>The new clinical partnership with Dr. Jimmy Cooper, DHA, FNP-C, and TMM Medical Group, will add LGBTQ+ affirming primary care, as well as STI and HIV treatment options at TMM Medical Group.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="blog__btn">
      <a href="#"><button>VIEW MORE</button></a>
    </div>
  </div>
</section>