<section id="getSupport">
  <div class="whatwedo__bg">
    <div class="two-items">
      <div class="whatwedo__left">
        <div class="whatwedo__up__text">
          <h2>CONNECT WITH OTHERS<br>
            THROUGH OUR BLOG</h2>
          <a href=""><button>VISIT BLOG</button></a>
        </div>
        <div class="getsupport__box">
          <div class="getsupport__box__up">
            <h3>LINKS TO DIRECT SUPPORT</h3>
            <p>(KIDS HELP PHONE 1-800-668-6868)</p>
          </div>
          <div class="getsupport__box__down">
            <div class="getsupport__box__down__item_1">
              <a class="box__down__item_1" href=""><img src="./images/crisis_text.png" alt=""></a>
              <a class="box__down__item_2"href=""><img src="./images/selfsea_round.png" alt=""></a>
            </div>
            <div class="getsupport__box__down__item_2">
              <a class="box__down__item_3" href=""><img src="./images/whatsapp.svg" alt=""></a>
              <a class="box__down__item_4" href=""><img src="./images/kids_help_phone_call.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="whatwedo__right">
        <div class="whatwedo__right__flag">

        </div>
        <div class="whatwedo__left__illustration">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
