<section id="whatwedo">
      <div class="whatwedo__bg">
        <div class="two-items">
          <div class="whatwedo__left">
            <div class="whatwedo__left__text">
              <h2>DO YOU IDENTIFY AS LGBTQ2+?<br>
              HAVE YOU BEEN A VICTIM OF BULLYING IN<br>
              SPORTS?
              </h2>
              <p>IF YOU OR SOMEONE YOU KNOW WAS BEEN BULLIED IN SPORTS BECAUSE OF THERE LGBTQ2+ IDENTITY. THESE SUPPORT RESOURCES ARE FOR YOU. PLAYFAIR IS COMMUNITTED TO IMPROVING THE ACCEPTANCE OF THE LGBTQ2+ COMMUNITY IN SPORTS.</p>
              <div class="whatwedo__left__btn">
                <a href=""><button>GET SUPPORT</button></a>
              </div>
            </div>
            <div class="whatwedo__left__illustration">
              <img>
            </div>
          </div>
          <div class="whatwedo__right">
            <div class="whatwedo__right__flag">

            </div>
            <div class="whatwedo__right__text">
              <h2>DO YOU WANT TO BECOME PART OF THE SOLUTION IN A HIGHLY IMPACTFUL WAY?</h2>
              <button>VOLUNTEER</button>
              <p>BECOME A VOLUNTEER PEACE ADVOCATE IN YOUR COMMUNITY. <br>
              CONNECT WITH THE COMMUNITY DIRECTLY AND SPREAD AWARENESS ON HOW THE LGBTQ2+ <br> ARE DISCRIMINATED AGAINST IN SPORTS.</p>
            </div>
            <div id="chatApp">
              <h2>CONNECT WITH US THROUGH CHAT. GET SUPPORT, ASK QUESTIONS, DET HELP WITH COMMUNITY ISSUES</h2>
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
