







<section id="whatwedo">
      <div class="whatwedo__bg">
        <div class="two-items">
          <div class="whatwedo__left">
            <div class="whatwedo__up__text">
              <h2>DO YOU IDENTIFY AS LGBTQ2+?<br>
              HAVE YOU BEEN A VICTIM OF BULLYING IN<br>
              SPORTS?
              </h2>
              <p>IF YOU OR SOMEONE YOU KNOW WAS BEEN BULLIED IN SPORTS BECAUSE OF THERE LGBTQ2+ IDENTITY. THESE SUPPORT RESOURCES ARE FOR YOU. PLAYFAIR IS COMMUNITTED TO IMPROVING THE ACCEPTANCE OF THE LGBTQ2+ COMMUNITY IN SPORTS.</p>
              <a href="/getsupport"><button>GET SUPPORT</button></a>
            </div>
            <div class="whatwedo__down__text">
              <h2>DO YOU WANT TO BECOME PART OF THE SOLUTION IN A HIGHLY IMPACTFUL WAY?</h2>
              <p>BECOME A VOLUNTEER PEACE ADVOCATE IN YOUR COMMUNITY. <br>
              CONNECT WITH THE COMMUNITY DIRECTLY AND SPREAD AWARENESS ON HOW THE LGBTQ2+ <br> ARE DISCRIMINATED AGAINST IN SPORTS.</p>
              <a href="/waystohelp"><button>VOLUNTEER</button></a>
            </div>
          </div>
          <div class="whatwedo__right">
            <div class="whatwedo__right__flag">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="/images/flag/agender_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/aromantic_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/asexual_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/bisexual_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/butch_lesbian_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/CO_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/demiromantic_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/demisexual_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/genderfluid_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/genderQueer_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/intersex_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/labrys_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/lesbian_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/non_binary_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/pansexual_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/philly_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/polyamorous_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/polysexual_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/progress_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/rainbow_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/trans_pride.jpg"></div>
                  <div class="swiper-slide"><img src="/images/flag/two_spirit_pride.jpg"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress">
                  <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                  </svg>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="whatwedo__left__illustration">
              <img src="" alt="">
            </div>
          </div>
          <div class="whatwedo__down__text__second">
              <h2>DO YOU WANT TO BECOME PART OF THE SOLUTION IN A HIGHLY IMPACTFUL WAY?</h2>
              <p>BECOME A VOLUNTEER PEACE ADVOCATE IN YOUR COMMUNITY. <br>
              CONNECT WITH THE COMMUNITY DIRECTLY AND SPREAD AWARENESS ON HOW THE LGBTQ2+ <br> ARE DISCRIMINATED AGAINST IN SPORTS.</p>
              <button>VOLUNTEER</button>
          </div>
        </div>
      </div>
    </section>
