<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <h1 class="hidden">Welcome to Play Fair!</h1>
    <nav id="navbar">
      <div id="navbar__logo">
        <a href="/"><img src="/images/" alt="Play Fair Logo"></a>
      </div>
      <ul id="navbar__menu">
        <li class="navbar__menu__item"><a href="/"><h2>WHAT WE DO</h2></a></li>
        <li class="navbar__menu__item"><a href="/views/getsupport.hbs"><h2>GET SUPPORT</h2></a></li>
        <li class="navbar__menu__item"><a href="/views/waystohelp.hbs"><h2>WAYS TO HELP</h2></a></li>
        <li class="navbar__menu__item"><a href="/views/blognews.hbs"><h2>BLOG & NEWS</h2></a></li>
      </ul>
      <ul id="navbar__social">
        <li class="navbar__social__item"><a href=""><img src="/images/facebook_logo.svg" alt="Facebook Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/linkedin_logo.svg" alt="Linkedin Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/instagram_logo.svg" alt="Instagram Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/twitter_logo.svg" alt="Twitter Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/youtube_logo.svg" alt="Youtube Logo"></a></li>
      </ul>
    </nav>

    {{{ body }}}

    <section id="footer">
      <div id="default_width">
        <nav id="footer__navbar">
          <ul id="footer__navbar__menu">
            <li class="footer__navbar__menu__item"><a href="#"><h2>WHAT WE DO</h2></a></li>
            <li class="footer__navbar__menu__item"><a href=""><h2>GET SUPPORT</h2></a></li>
            <li class="footer__navbar__menu__item"><a href=""><h2>WAYS TO HELP</h2></a></li>
            <li class="footer__navbar__menu__item"><a href=""><h2>BLOG & NEWS</h2></a></li>
          </ul>
          <div id="footer__navbar__logo">
            <a><img src="" alt=""></a>
          </div>
          <div id="copyright">
            <h2>COPYRIGHT 2012-2023 TERMSFEED. ALL RIGHTS RESERVED.</h2>
          </div>
        </nav>
        <div id="footer__clickTo">
          <a href="./team"><h2>CLICK HERE TO CONTACT US!</h2></a>
        </div>
        <div id="newsletter">
          <div class="newsletter__up">
            <h4><b>SIGN-UP FOR OUR NEWSLETTER!</b></h4>
            <div class="newsletter__up__name">
              <input type="text" placeholder="Full Name">
            </div>
            <div class="newsletter__up__email">
              <input type="text" placeholder="Email">
            </div>
            <p>BY CREATING AN ACCOUNT YOU AGREE TO OUR TERMS OF SERVICE AND PRIVACY POLICY</p>
          </div>
          <div class="newsletter__down">
            <input type="submit" value="CONTINUE">
          </div>
        </div>
        <ul id="footer__social">
          <li class="footer__social__item"><a href=""><h2>OUR SOCIALS:</h2></a></li>
          <li class="footer__social__item"><a href=""><h3>FACEBOOK</h3></a></li>
          <li class="footer__social__item"><a href=""><h3>INSTAGRAM</h3></a></li>
          <li class="footer__social__item"><a href=""><h3>LINKEDIN</h3></a></li>
          <li class="footer__social__item"><a href=""><h3>TWITTER</h3></a></li>
          <li class="footer__social__item"><a href=""><h3>YOUTUBE</h3></a></li>
        </ul>
      </div>
    </section>

  </body>
</html>
