<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/omo7nhe.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://kit.fontawesome.com/d01e7b9f50.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 class="hidden">Welcome to Play Fair!</h1>
    <nav id="navbar">
      <div id="navbar__logo">
        <a href="/"><img src="/images/logo.svg" alt="Play Fair Logo"></a>
      </div>
      <ul id="navbar__menu" class="disNo">
        <li class="navbar__menu__item"><a href="/"><h2>WHAT WE DO</h2></a></li>
        <li class="navbar__menu__item"><a href="/getsupport"><h2>GET SUPPORT</h2></a></li>
        <li class="navbar__menu__item"><a href="/waystohelp"><h2>WAYS TO HELP</h2></a></li>
        <li class="navbar__menu__item"><a href="/blognews"><h2>BLOG & NEWS</h2></a></li>
      </ul>
      <ul id="navbar__social">
        <li class="navbar__social__item"><a href=""><img src="/images/facebook_logo.svg" alt="Facebook Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/linkedin_logo.svg" alt="Linkedin Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/instagram_logo.svg" alt="Instagram Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/twitter_logo.svg" alt="Twitter Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/youtube_logo.svg" alt="Youtube Logo"></a></li>
      </ul>
    </nav>

    <!-- Toggle button -->
    <div class="navbar__toggle-btn">
      <i class="fa-solid fa-bars"></i>
    </div>

    {{{ body }}}

    <div id="chatApp">
      <img src="" alt="">
    </div>

    <section id="footer">
      <div id="default_width">
        <nav id="footer__navbar">
          <div id="footer__navbar__logo">
            <a href="/"><img src="/images/logo.svg" alt="Footer Play Fair Logo"></a>
          </div>
          <div id="copyright">
            <h2>COPYRIGHT 2012-2023 TERMSFEED. ALL RIGHTS RESERVED.</h2>
          </div>
        </nav>
        <ul id="footer__navbar__menu">
          <li class="footer__navbar__menu__item"><a href="/"><h2>WHAT WE DO</h2></a></li>
          <li class="footer__navbar__menu__item"><a href="/getsupport"><h2>GET SUPPORT</h2></a></li>
          <li class="footer__navbar__menu__item"><a href="/waystohelp"><h2>WAYS TO HELP</h2></a></li>
          <li class="footer__navbar__menu__item"><a href="/blognews"><h2>BLOG & NEWS</h2></a></li>
        </ul>
        <ul id="footer__social">
          <li class="footer__social__item"><a href=""><img src="/images/footer_facebook_logo.svg"></a></li>
          <li class="footer__social__item"><a href=""><img src="/images/footer_linkedin_logo.svg"></a></li>
          <li class="footer__social__item"><a href=""><img src="/images/footer_instagram_logo.svg"></a></li>
          <li class="footer__social__item"><a href=""><img src="/images/footer_twitter_logo.svg"></a></li>
          <li class="footer__social__item"><a href=""><img src="/images/footer_youtube_logo.svg"></a></li>
        </ul>
        <div id="newsletter">
          <div class="newsletter__up">
            <h4><b>SIGN-UP FOR OUR NEWSLETTER!</b></h4>
            <div class="newsletter__up__name">
              <input type="text" placeholder="Full Name">
            </div>
            <div class="newsletter__up__email">
              <input type="text" placeholder="Email">
            </div>
            <p>BY CREATING AN ACCOUNT YOU AGREE TO OUR TERMS OF SERVICE AND PRIVACY POLICY</p>
          </div>
          <div class="newsletter__down">
            <input type="submit" value="CONTINUE">
          </div>
        </div>
      </div>
      <div id="copyright__down">
        <h2>COPYRIGHT 2012-2023 TERMSFEED. ALL RIGHTS RESERVED.</h2>
      </div>
    </section>
  
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/js/main.js" type="module" defer></script>
  </body>
</html>
