<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <h1 class="hidden">Welcome to Play Fair!</h1>
    <nav id="navbar">
      <div id="navbar__logo">
        <img src="/images/" alt="Play Fair Logo">
      </div>
      <ul id="navbar__menu">
        <li class="navbar__menu__item"><a href="">WHAT WE DO</a></li>
        <li class="navbar__menu__item"><a href="">GET SUPPORT</a></li>
        <li class="navbar__menu__item"><a href="">WAYS TO HELP</a></li>
        <li class="navbar__menu__item"><a href="">NEWSLETTER</a></li>
        <li class="navbar__menu__item"><a href="">BLOG</a></li>
      </ul>
      <ul id="navbar__social">
        <li class="navbar__social__item"><a href=""><img src="/images/facebook_logo.svg" alt="Facebook Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/linkedin_logo.svg" alt="Linkedin Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/instagram_logo.svg" alt="Instagram Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/twitter_logo.svg" alt="Twitter Logo"></a></li>
        <li class="navbar__social__item"><a href=""><img src="/images/youtube_logo.svg" alt="Youtube Logo"></a></li>
      </ul>
    </nav>

    <section id="whatwedo">
      <div class="whatwedo__bg">
        <div class="whatwedo__left">
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde labore harum esse placeat, ex rem incidunt dolorum dicta cupiditate! Vitae illo, nemo possimus adipisci velit ea ad asperiores id cum?</p>
        </div>
        <div class="whatwedo__right">
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde labore harum esse placeat, ex rem incidunt dolorum dicta cupiditate! Vitae illo, nemo possimus adipisci velit ea ad asperiores id cum?</p>
        </div>
      </div>
    </section>

    <section id="footer">

    </section>




    {{!-- {{{body}}} --}}
  </body>
</html>
