<nav>
  <div id="teamThumb">
    <h2>Meet our Team!</h2>
    <div class="team">
      <div class="teamMember">
        <picture>
          <source media="(max-width: 800px)" srcset="/images/tonya150x150.png" alt="Tonya Image">
          <source media="(min-width: 801px)" srcset="/images/tonya250x250.png" alt="Tonya Image">
          <img src="/images/tonya250x250.png">
        </picture>
        <a href="/team/member/tonya">TONYA</a>
      </div>

      <div class="teamMember">
        <picture>
          <source media="(max-width: 800px)" srcset="/images/evica150x150.png" alt="Tonya Image">
          <source media="(min-width: 801px)" srcset="/images/evica250x250.png" alt="Evica Image">
          <img src="/images/evica250x250.png">
        </picture>
        <a href="/team/member/evica">EVICA</a>
      </div>

      <div class="teamMember">
        <picture>
          <source media="(max-width: 800px)" srcset="/images/sian150x150.png" alt="Sian Image">
          <source media="(min-width: 801px)" srcset="/images/sian250x250.png" alt="Sian Image">
          <img src="/images/sian250x250.png">
        </picture>
        <a href="/team/member/sian">SIAN</a>
      </div>

      <div class="teamMember">
        <picture>
          <source media="(max-width: 800px)" srcset="/images/doyeon150x150.png" alt="Doyeon Image">
          <source media="(min-width: 801px)" srcset="/images/doyeon250x250.png" alt="Doyeon Image">
          <img src="/images/doyeon250x250.png">
        </picture>
        <a href="/team/member/doyeon">DOYEON</a>
      </div>

      <div class="teamMember">
        <picture>
          <source media="(max-width: 800px)" srcset="/images/mamatha150x150.png" alt="Mamatha Image">
          <source media="(min-width: 801px)" srcset="/images/mamatha250x250.png" alt="Mamatha Image">
          <img src="/images/mamatha250x250.png">
        </picture>
        <a href="/team/member/mamatha">MAMATHA</a>
      </div>
        
    </div> <!--end class team -->
  </div>  <!--end id team-thumb-->
</nav>

  <div id="teamDes">
    <p>Children play sports to have fun! Sports also help develop social skills and increase our mental well-being. The recommended amount of exercise for youth is 60 minutes per day. But what happens when kids feel bullied and excluded in sports and gym class? A whopping 44% of LGBTQ+ youth avoid areas like gymnasiums and change rooms because they feel unsafe. No child should feel this way. We want to help change that. This percentage can be deduced dramatically if the LGBTQ+ community feels understood and respected in sports environments. <br><br>

    For our Final school project, we are committed to supporting the LGBTQ+ community, especially in sport. “Play Fair” is our campaign that's working to help everyone feel comfortable, safe, and respected while enjoying sports. Examples of our initiatives are <b>(1)</b> educate the youth about what it means to be an athlete and a good human being, <b>(2)</b> support the mental health of people experiencing bullying, and <b>(3)</b> spread awareness about up to date issues for LGBTQ+ community. Stay tuned for our campaign to change how we treat the LGBTQ+ community in sports. Everyone deserves to be included. Life is better in colour.</p>
  </div>
