<section id="waystohelp">
  <div class="waystohelp__bg">
    <div class="two-items">
      <div class="whatwedo__left">
        <div class="waystohelp__left__text">
          <h2>FILL OUT THE FORM BELOW<br>
            TO RECEIVE A CALL BACK<br>
            ABOUT <span class="color_pink">BECOMING A VOLUNTEER</span></h2>
        </div>
        <div class="waystohelp__left__down">
          <div class="waystohelp__illu__left">
            <img src="" alt="">
          </div>
          <div class="waystohelp__form">
            <div class="waystohelp__form__up">
              <div class="waystohelp__form__up__item1">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
              </div>
              <div class="waystohelp__form__up__items">
                <input type="text" placeholder="Email">
              </div>
              <div class="waystohelp__form__up__items">
                <input type="text" placeholder="Phone Number">
              </div>
              <div class="waystohelp__form__checkbox">
                <input type="checkbox">
                <p>I am willing and able to obtain a vulnerable sector check</p>
              </div>
              <div class="waystohelp__form__checkbox">
                <input type="checkbox">
                <p>I can be contacted by phone to further discuss volunteer options</p>
              </div>
              <div class="waystohelp__form__up__para">
                <p>By creating an account you agree to our <br>
                  Terms of Service and Privacy Policy</p>
              </div>
            </div>
            <div class="waystohelp__form__down">
              <input type="submit" value="CONTINUE">
            </div>
          </div>
          <div class="waystohelp__illu__right">
            <img src="" alt="">
          </div>
        </div>
      </div>
      <div class="whatwedo__right">
        <div class="waystohelp__right__text">
          <div class="waystohelp__right__text__item">
            <h3>WHO CAN BECOME A VOLUNTEER?</h3>
            <p>To volunteer for PlayFair, you must obtain a vulnerable sector check before the first day of volunteering. Students are welcome to volunteer (high school, college, university) Persons under 18 years must have parents written and signed consent.</p>
          </div>
          <div class="waystohelp__right__text__item">
            <h3>WHAT DOES A VOLUNTEER DO?</h3>
            <p>The volunteers at PlayFair will be responsible for managing the information booths that we set up at community and recreation centers. Volunteers can also volunteer to answer chat app inquires. These are non-theaputic responses. The goal is to keep a record of incidents within the community.  volunteer opportunities will be case to case basis. A vehicle is an asset but not required to volunteer. Please Fill out a volunteer form for further inquires.</p>
          </div>
          <div class="waystohelp__right__text__item">
            <h3>WHERE WILL THE VOLUNTEERING TAKE PLACE?</h3>
            <p>The volunteer opportunities that PlayFair provides will be within London, Ontario. We will tailor volunteering locations based off of your location to create an easy commute. Chat app volunteers will work remote. </p>
          </div>
          <div class="waystohelp__right__text__item">
            <h3>HOW OFTEN?</h3>
            <p>Volunteering is flexible. You can volunteer ask often as weekly, monthly, or yearly. Any help is appreciated. We ask that you please have an availability ready, as we will work with your schedule. </p>
          </div>
          <div class="waystohelp__right__text__item">
            <h3>WHY VOLUNTEER FOR PLAYFAIR?</h3>
            <p>PlayFair aims to educate and bring awareness to the youth and their parents about the mistreatment of the LGBTQ+ sports community. We stand for a great cause that needs your help to be heard. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




