  /* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-yellow: #FFAB24;
  --color-green: #007F6E;
  --color-pink: #FF695F;
  --color-navy: #002A4C;
  --color-beige: #F6E1CA;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-black: #000000;

  /* Font size */
  --font-large: 26px;
  --font-medium: 22px;
  --font-regular: 16px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  // --weight-semi-bold: 600;
  // --weight-medium: 500;
  --weight-regular: 400;
  // --weight-light: 300;
  // --weight-extra-light: 200;

  /* Size */


  /* Animation */


}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: "novecento-sans-wide", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-navy);
}

ul {
  list-style: none;
  padding-left: 0;
  // text-align: center;
}

li {
  list-style: none;
}

#default_width {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
}

.hidden {
  display: none;
}

/* Grid */


.two-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}




/* Typography */

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 0;
}

// h3 {
//   font-size: var(--font-small);
//   font-weight: var(--weight-bold);
//   margin: 0;
// }

p {
  font-weight: var(--weight-regular);
  margin: 0;
}
