body {
  margin: auto;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 15px;
  font-weight: 200;
}

.hidden {
  display: none;
}
