#footer {
  padding: 30px 40px;
  background-color: var(--color-navy);
}

#footer h2 {
  color: var(--color-pink);
  margin-bottom: 15px;
}

#footer h3 {
  font-size: var(--font-small) !important;
  color: var(--color-pink);
  margin-bottom: 30px;
  text-align: center;
}

// Footer Nav

#footer__navbar {
  display: flex;
  flex-direction: column;
}

.footer__navbar__menu__item h2:hover {
  color: var(--color-yellow) !important;
}

#newsletter__mobile {
  display: none;
}

#footer__navbar__logo {
  width: 350px;
  margin: auto;
}

#copyright {
  text-align: center;

  h2 {
    color: var(--color-white);
  }
}

#copyright__down {
  display: none;
}

// Nav
#footer__navbar__menu {
  display: flex;
  flex-direction: column;
}

#footer__navbar__menu h2 {
  font-size: 20px !important;
}

.footer__navbar__menu__item {
  margin-top: 33px;
}


// Newsletter Box

#newsletter {
  width: 250px;
  height: 250px;
}

.newsletter__up {
  width: 250px;
  height: 200px;
  background-color: var(--color-yellow);
}

.newsletter__up h4 {
  color: var(--color-green);
  padding: 20px 0 15px 0;
  text-align: center;
  font-size: 13px;
  font-weight: var(--weight-semi-bold);
}

.newsletter__up__name {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.newsletter__up__name input {
  width: 200px;
  padding: 5px;
  border: none;
  color: var(--color-green);
}

.newsletter__up__email {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.newsletter__up__email input {
  width: 200px;
  padding: 5px;
  border: none;
  color: var(--color-green);
}

.newsletter__up p {
  font-size: 10px;
  margin: auto;
  color: var(--color-green);
  max-width: 220px;
  text-align: center;
  line-height: 20px;
  font-weight: var(--weight-semi-bold);
}

.newsletter__down {
  width: 250px;
  height: 50px;
  background-color: var(--color-green);
}

.newsletter__down input {
  width: 250px;
  height: 50px;
  background-color: var(--color-green);
  color: var(--color-black);
  border: none;
}

// Footer Social 
#footer__social {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.footer__social__item {
  margin-bottom: 18px;
}

.footer__social__item:last-child {
  margin-bottom: 0px;
}


.footer__social__item img {
  width: 35px;
  height: 35px;
}