/* navbar */
#navbar {
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-beige);
  border-bottom: 1px solid var(--color-navy);
}

#navbar__menu {
  display: flex;
  flex-direction: row;
}

.navbar__menu__item {
  margin-right: 40px;
}

.navbar__menu__item:last-child {
  margin-right: 0px;
}

#navbar__social {
  display: flex;
  flex-direction: row;
}

#navbar__social img {
  width: 25px;
  height: 25px;
}

.navbar__social__item {
  margin-right: 25px;
}

.navbar__social__item:last-child {
  margin-right: 0px;
}

/* Main Section */
#whatwedo {
  background-color: var(--color-beige);
  display: grid;
}

#whatwedo h2 {
  max-width: 500px;
  margin-bottom: 20px;
}

#whatwedo p {
  max-width: 500px;
  line-height: 20px;
}

.whatwedo__bg {
  background-image: url("/images/desktop_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 700px;
  margin: auto;
}

.whatwedo__left {
  float: left;
  margin-top: 200px;
  margin-left: 150px;
}

.whatwedo__right {
  float: right;
  margin-top: 400px;
}

.whatwedo__right h2 {
  color: var(--color-yellow);
}

