/* Main Section */
#whatwedo {
  background-color: var(--color-beige);
  display: grid;
}

#whatwedo h2 {
  max-width: 500px;
  margin-bottom: 20px;
}

#whatwedo p {
  max-width: 500px;
  line-height: 20px;
}

.whatwedo__bg {
  background-image: url("/images/bg_2200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 750px;
  margin: auto;
}

.whatwedo__left {
  float: left;
  margin-top: 200px;
  margin-left: 260px;
}

.whatwedo__right {
  float: right;
  margin-top: 400px;
}

.whatwedo__right h2 {
  color: var(--color-yellow);
}

