/* Main Section */
#whatwedo {
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
}

.whatwedo__bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1300px;
  padding: 0 50px;
}

#whatwedo h2 {
  font-size: var(--font-large);
  margin-bottom: 20px;
  line-height: 30px;
}

#whatwedo p {
  font-size: var(--font-small);
  line-height: 18px;
}

#whatwedo button {
  color: var(--color-white);
  border: none;
  padding: 8px;
  font-weight: var(--weight-bold);
}

// Left Part

.whatwedo__left {
  float: left;
  width: 550px;
  padding: 100px 0;
}

.whatwedo__up__text p {
  margin-bottom: 20px;
  max-width: 520px;
}

.whatwedo__up__text button {
  background-color: var(--color-green);
}

.whatwedo__down__text {
  margin-top: 180px;
}

.whatwedo__down__text button {
  background-color: var(--color-pink);
}

.whatwedo__down__text p {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Right Part

.whatwedo__right {
  float: right;
  width: 550px;
  padding: 60px 0 0 0;
}


// FLAG 
.whatwedo__right__flag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 50px 20px;
  width: 400px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--color-white);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--color-white);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

// .swiper-pagination-bullet {
//   padding: 5px;
// }

// .swiper-pagination-bullet-active {
// 	background-color: var(--color-white);
// }




// ILLUSTRATION
.whatwedo__left__illustration {
  margin: auto;
  width: 450px;
}

.whatwedo__left__illustration img {
  width: 400px;
}

// Chat App
#chatApp {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 20;
}

#chatApp img {
  width: 60px;
  height: 60px;
}


.whatwedo__down__text__second {
  display: none;
}
