.backTo {
  margin-bottom: 40px;
}

#teamIntro h3 {
  font-size: 16px;
}

.memberImg img {
  width: 300px;
  height: 300px;
}

.memberInfo h3 {
  margin: 20px 0 15px 0; 
}

.memberInfo h4 {
  margin-bottom: 10px;
}

.memberInfo p {
  max-width: 800px;
  line-height: 20px;
  margin: auto;
  padding: 20px;
}