@media screen and (min-width: 1540px) {
  
  /* Main Section */
  .whatwedo__bg {
    background-image: url("/images/desktop_bg.png");
    height: 1000px;
  }

  .whatwedo__left {
    margin-top: 280px;
    margin-left: 180px;
  }
  
  .whatwedo__right {
    margin-top: 550px;
    margin-left: 100px;
  }
  
}


@media screen and (min-width: 1249px) {
  
  // /* Main Section */
  // .whatwedo__bg {
  //   background-image: url("/images/desktop_bg.png");
  //   max-width: 1240px;
  //   margin: auto;
  // }
  
}


@media screen and (max-width: 950px) {
  
  
}